<p>Hi <%= name.split(' ')[0] %>,</p>
<p>Chill out, this is not a spam. It's Misha, Misha.M </p>
<p>I was looking for you just now but since you don't have Misha, I didn't know if you were available. </p>
<p>Please <a href="https://chrome.google.com/webstore/detail/misha/nlpkpnbbpagomeeblfifmgkbjpljoahi">install Misha</a> so I'll know when you're at your desk for a couple minutes. </p>
<p>It's a real timesaver!</p>
<p>Thanks,</p>
